<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tradget">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TradGet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TradGet">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB2Sj6qedyMxJFm851wbc7AjlKgCrz1lkk"/>

        <activity android:name=".MapActivity"/>
        
        <activity 
            android:name="com.google.android.libraries.places.widget.AutocompleteActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            tools:replace="android:theme" />

        <activity
            android:name=".MainAppActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>